body{
  font-family: Cairo, sans-serif;
  background:#f3f4f6;
  margin:0;
}

.container{
  max-width:900px;
  margin:auto;
  padding:16px;
}

.card{
  background:#fff;
  border-radius:16px;
  padding:16px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.btn{
  display:block;
  padding:12px;
  background:#22c55e;
  color:white;
  text-align:center;
  border-radius:10px;
  text-decoration:none;
}